* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1e1e2f, #1e1e24);
}

.wrapper {
    position: relative;
    height: 100vh;
    top: 0;
}

.main-panel {
    width: 100% ;
    min-height: 100vh;
    border-top: 2px solid #430055;
    transition: .2s;
    float: right;
    background-image: url(https://png.pngtree.com/back_origin_pic/04/32/50/1e1163290d9dfc24c549909c379a9fc6.jpg);
    background-size: cover;
}

.content {
    padding: 80px 30px 30px 280px;
}

.content.main {
    padding: 80px 30px 30px 130px;
}

.footer {
    padding: 600px 30px 30px 280px;
}

@media only screen and (max-width: 1200px) {
    .main-panel .content {
        padding-left: 30px;
    }
    .nav-open .main-panel {
        right: 0;
        transform: translate3d(260px,0,0);
        transition: .5s;
    }
}