* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1e1e2f, #1e1e24);
}

.wrapper {
    position: relative;
    height: 100vh;
    top: 0;
}

.main-panel {
    width: 100% ;
    min-height: 100vh;
    border-top: 2px solid #dc143c;
    transition: .2s;
    float: right;
    background-image: url(https://www.wallpaperuse.com/wallp/20-205334_m.jpg);
    background-size: 100% 85%;
}

.content {
    padding: 80px 30px 30px 280px;
}

.footer {
    padding: 600px 30px 30px 280px;
}