nav {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px 0px 20px;
}

.navbar-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.navbar-bar i ,
.navbar-options i {
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}

.navbar-bar button {
    background-color: transparent;
    border: none;
    outline: none;
}

button#boton-sidebar_left,
button#boton-sidebar_fixed {
    display: none;
}

.navbar-bar p {
    color: rgb(238, 231, 128);
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 0px;
    opacity: 1;
    transition: .6s;
}

.navbar-options {
    display: flex;
    align-items: center;
}

.navbar-options .photo{
    width: 20px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
}

.navbar-options .i1 {
    color: rgb(243, 243, 103);
}

.navbar-options .i2 {
    color: rgb(255, 95, 95);
}

.photo img {
    width: 100%;
}