.content-wrapper {
    min-width: 416px;
}

.bg-fondo {
    background-color: #FFF3F0;
}

.bg-indigo {
    background-color: #280033;
    color: white;
}

.bg-indigo-x {
    background-color: #430055;
    color: white;
}

.form-title {
    height: 150px;
}

.content-info {
    padding: 2em;
}

.container {
    position: relative;
  }

.container-img-1 {
    position: absolute;
    top: 121.205px;
    left: 179.19px;
    font-size: 18px;
}

.container-img-1 img {
    max-width: 60%;
}

.container-img-2 {
    position: absolute;
    top: 135.61px;
    left: 89.60px;
    font-size: 18px;
}

.container-img-2 img {
    max-width: 30%;
}

.container-img-3 {
    position: absolute;
    top: 135.61px;
    left: 297.58px;
    font-size: 18px;
}

.container-img-3 img {
    max-width: 30%;
}