<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    
    <div class="login-box">
      <h2>LOGIN</h2>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <label *ngIf="msjProceso"[ngClass]="{'tx-rojo':log===false, 'txt-verde':log===true}">
          {{msjSesion}}
        </label>

        <button type="submit" (click)="login()">Log In</button>
        <!--<input type="submit" (click)="login()" >-->
       <!-- <div class="btn" type="submit"(click)="login()">
          Log In
        </div>-->
        
        
      </form>
    </div>
  </body>
</html>

