body {
    margin: 0;
    padding: 0;
    background: url(img/imagen1.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: opacity 0.5;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  
  .login-box h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
  }
  
  .login-box button[type="submit"] {
    border: 0;
    background: #032e2c;
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    outline: none;
    color:#fff;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .login-box button[type="submit"]:hover {
    cursor: pointer;
    background: #022438;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(17, 17, 17);
  }
  
  .login-box a:hover {
    color: #fff;
  }