<div class="content">
  <h1>CLIENTES</h1>
  <!-- FORMULARIOS -->
  <form id="form1">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Cliente</span> <input
        type="text" class="form-control"
        placeholder="Inserte id o cédula aqui..."
        aria-describedby="basic-addon1" required id="cedula_cliente">
    </div>
  </form>

  <div class="row g-3" novalidate>
    <div class="col-md-2">
      <label for="cedula" class="form-label">Cédula</label>
      <input type="text" class="form-control" name="cedula"  id="cedula" required [(ngModel)]="cedula">
      <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-5">
      <label for="nombre" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" name="nombre" id="nombre" required [(ngModel)]= "nombre">
      <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-3">
      <label for="correo" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" name="correo"  id="correo" required [(ngModel)]="correo">
      <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-7">
      <label for="direc" class="form-label">Dirección</label>
      <input type="text" class="form-control" name="direc"  id="direc" required [(ngModel)]="direc">
      <div class="invalid-feedback"></div>
    </div>
    <div class="col-md-3">
      <label for="tele" class="form-label">Telefono</label>
      <input type="text" class="form-control" name="tele" id="tele" required [(ngModel)]="tele">
      <div class="invalid-feedback"></div>
    </div>
    <!-- BOTONES -->
    <div class="col-2">
      <button (click)="postData()" class="btn btn-success" type="button">Enviar</button>{{codigoRespuesta}}
      <button class="btn btn-secondary" type="reset">Nuevo</button> <br> <br>
      <!--<button (click)="ngOnInit()" class="btn btn-primary" type="button">Buscar</button>{{contenido}}
      button (click)="deleteData()" class="btn btn-success" type="submit">Borrar</button>{{codigoRespuesta}}
      <button (click)="cambiarData()" class="btn btn-success" type="submit">Modificar</button>{{codigoRespuesta}}
      </div-->
    </div>
    <button type="button" class="btn btn-primary" onclick="getData()">
      <i class="fas fa-search"></i> Buscar cliente </button>

    <!-- ALERTAS
    <div *ngIf="msjProceso==1" class="alert alert-success mt-3" role="alert">
      <i class="fas fa-check"></i> Acceso correcto, bienvenido.
    </div>
    <div *ngIf="msjProceso==0" class="alert alert-danger mt-3" role="alert">
      <i class="fas fa-times"></i> Nombre de Usuario o Contraseña incorrectos
    </div>
    <div *ngIf="msjProceso==9" class="alert alert-warning mt-3" role="alert">
      <i class="fas fa-exclamation"></i> Por favor ingrese todos los campos
    </div>-->
  </div>
<div class="card-body">
  <table class="compact nowrap table table-dark table-hover" datatable>
    <thead>
      <tr class="text-center">
        <th>ID</th>
        <th>CEDULA</th>
        <th>NOMBRE</th>
        <th>CORREO</th>
        <th>DIRECCION</th>
        <th>TELEFONO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of contenido" class="text-center">
        <th>
          <button class="btn btn-warning" onclick="getData()">Editar</button>
          <button class="btn btn-danger" style = "margin-let: 10px;" onclick="getData()">Borrar</button>
        </th>

      </tr>

    </tbody>


  </table>

</div>

</div>
