.content-wrapper {
  min-width: 420px;
}

.bg-fondo {
  background-color: #FFF3F0;
}

.bg-indigo {
  background-color: #03741fad;
  color: white;
}

.bg-indigo-x {
  background-color: #0c7403d0;
  color: white;
}

.form-title {
  height: 150px;
}

.content-info {
  padding: 2em;
  background-color: rgba(31, 47, 37, 0.76);
}

.content-info h5{
  color: #fff;
  min-width: 356px;
}

.container-img-1 {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.container-img-1 img {
  max-width: 50%;
}

.container-img-2 {
  position: relative;
  top: 50px;
  left: 0px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.container-img-2 img {
  max-width: 35%;
}

.shadow-login {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);
}
