<div class="row">
    <div class="row-1 col-12">
        <div class="form-floating mb-3 mt-3 col-3 pe-3">
            <input type="text" class="form-control" placeholder="Cedula" name="cedula" id="cedula">
            <label for="cedula"><i class="fas fa-id-card me-2"></i>Cédula</label>
        </div>
        <div class="d-grid col-2 pe-3 text-center align-self-center">
            <button class="btn btn-primary" type="button">Consultar</button>
        </div>
        <div class="form-floating mb-3 mt-3 col-4 pe-3">
            <input type="text" class="form-control" placeholder="Cliente" name="cliente" id="cliente">
            <label for="cliente"><i class="fas fa-user me-2"></i>Cliente</label>
        </div>
        <div class="form-floating mb-3 mt-3 col-3 pe-3">
            <input type="text" class="form-control" placeholder="Consec" name="consec" id="consec">
            <label for="consec"><i class="fas fa-money-check-alt me-2"></i>Consec</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="row-2 col-12">
        <div class="form-floating col-2 pe-3">
            <div class="input-group-1">
                <label for="cproducto"><i class="fab fa-product-hunt me-2"></i>Cod. Producto</label>
                <input type="text" class="form-control mb-1" name="cproducto" id="cproducto">
                <input type="text" class="form-control mb-1" name="cproducto">
                <input type="text" class="form-control" name="cproducto">
            </div>
        </div>
        <div class="d-grid col-2 pe-3 text-center align-self-end">
            <button class="btn btn-primary mb-1" type="button">Consultar</button>
            <button class="btn btn-primary mb-1" type="button">Consultar</button>
            <button class="btn btn-primary" type="button">Consultar</button>
        </div>
        <div class="form-floating col-3 pe-3">
            <div class="input-group-2">
                <label for="nproducto"><i class="fas fa-shopping-cart me-2"></i>Nombre Producto</label>
                <input type="text" class="form-control mb-1" name="nproducto" id="nproducto">
                <input type="text" class="form-control mb-1" name="nproducto">
                <input type="text" class="form-control" name="nproducto">
            </div>
        </div>
        <div class="form-floating col-2 pe-3">
            <div class="input-group-3">
                <label for="cantidad"><i class="fas fa-sort-amount-up-alt me-2"></i>Cantidad</label>
                <input type="text" class="form-control mb-1" name="cantidad" id="cantidad">
                <input type="text" class="form-control mb-1" name="cantidad">
                <input type="text" class="form-control" name="cantidad">
            </div>
        </div>
        <div class="form-floating col-3 pe-3">
            <div class="input-group-4">
                <label for="vlrtotal"><i class="fas fa-coins me-2"></i>Vlr. Total</label>
                <input type="text" class="form-control mb-1" name="vlrtotal" id="vlrtotal">
                <input type="text" class="form-control mb-1" name="vlrtotal">
                <input type="text" class="form-control" name="vlrtotal">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row-1 col-12">
        <div class="form-floating mb-3 mt-3 col-4 pe-3">
            <input type="text" class="form-control" placeholder="Total Venta" name="tventa" id="tventa">
            <label for="tventa">Total Venta</label>
        </div>
        <div class="form-floating mb-3 mt-3 col-4 pe-3">
            <input type="text" class="form-control" placeholder="Total IVA" name="iva" id="iva">
            <label for="iva">Total IVA</label>
        </div>
        <div class="form-floating mb-3 mt-3 col-4 pe-3">
            <input type="text" class="form-control" placeholder="Total con IVA" name="tiva" id="tiva">
            <label for="tiva">Total con IVA</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
      <div class="btn btn-primary">
        Confirmar
      </div>
    </div>
  </div>