<div class="clients-wrapper">
    <h1>CLIENTES</h1>
    <div class="content-client">
        <div class="row-1">
            <div class="label-1">
                <label for="cedula">Cédula: </label>
                <input type="text" name="cedula" id="cedula">
            </div>
            <div class="label-2">
                <label for="telefono">Teléfono: </label>
                <input type="text" name="telefono" id="telefono">
            </div>
        </div>
        <div class="row-2">
            <div class="label-1">
                <label for="name">Nombre Completo: </label>
                <input type="text" name="name" id="name">
            </div>
            <div class="label-1">
                <label for="email">Correo Electrónico: </label>
                <input type="email" name="email" id="email">
            </div>
        </div>
        <div class="row-3">
            <div class="label-1">
                <label for="adress">Dirección: </label>
                <input type="text" name="adress" id="adress">
            </div>
        </div>
        <div class="row-4">
                <div class="btn bg-indigo-x">
                    <i class="fas fa-search"></i> Consultar
                </div>
                <div class="btn bg-indigo-x">
                    <i class="fas fa-user-plus"></i> Crear
                </div>
                <div class="btn bg-indigo-x">
                    <i class="fas fa-user-edit"></i> Actualizar
                </div>
                <div class="btn bg-indigo-x">
                    <i class="fas fa-user-times"></i> Borrar
                </div>
        </div>
    </div>
</div>
