<div class="content">
  <div class="row">
    <h1>HOLA, BIENVENIDOS A SNOW MARKET</h1>
  </div>
  <div class="slider mt-3">
    <ul>
      <li>
        <img src="/assets/img/imag1.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag2.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag3.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag4.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag5.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag6.jpg" alt="">
      </li>
      <li>
        <img src="/assets/img/imag7.jpg" alt="">
      </li>

    </ul>
  </div>
</div>
